
@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.site-page-header{
  height: 70px;
}

.main-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: calc(100vh - 70px);
}

.ant-menu{
  height: 100%;
}
.ant-menu-horizontal{
  display: flex;
  justify-content: space-between;
}

.Global{
  width: calc(100% - 256px);
}

.Global-menu{
  height: 50px;
  width: 100%;
}

.global-menu-item{
  width: calc(100% / 4);
  text-align: center;
}

.site-card-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.line-chart{
  margin-top: 100px;
}
